<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表搜索排序</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="test">
        <input type="text" v-model='searchName'>
        <ul>
            <li v-for='(p,index) in filterPersons' :key='index'>
                {{index}}---{{p.name}}---{{p.age}}
            </li>
        </ul>
        <button @click='setType(3)'>年龄升序</button>
        <button @click='setType(2)'>年龄降序</button>
        <button @click='setType(0)'>原本顺序</button>
    </div>

</body>
<script>
    new Vue({
        el: '#test',
        data: {
            persons: [{
                    name: 'rob',
                    age: 19
                },
                {
                    name: 'jack',
                    age: 9
                },
                {
                    name: 'tom',
                    age: 11
                },
                {
                    name: 'box',
                    age: 30
                }
            ],
            searchName: '',
            orderType: 0
        },
        computed: {
            filterPersons() {
                const {
                    searchName,
                    persons,
                    orderType
                } = this;
                let fPersons;
                fPersons = persons.filter(
                    (p) => p.name.indexOf(searchName) !== -1
                );
                if (orderType !== 0) {
                    fPersons.sort((p1, p2) => {
                        if (orderType === 2) {
                            return p2.age - p1.age
                        } else {
                            return p1.age - p2.age
                        }
                    });
                }
                return fPersons;
            }

        },
        methods:{
            setType:function(index){
               this.orderType=index;
            }
        }
    });
</script>

</html>